<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/main.css" media="screen">
</head>
<body>
  <header class='banner' role="banner">
    <div class='container'>
      <div class="brand">
        <a class="brand-logo" href="/">Ada Developers Academy</a>
        <span class="brand-subtitle">lectures</span>
      </div>
    </div>
  </header>

  <section role="main" class='container'>
    <%= yield %>
  </section>
</body>
</html>
